@*@page "/ModificarResponsableAlmacen"

<h3>Modificar Responsable de Almacen</h3>

<!-- Formulario Registro -->
<div style="display: flex; justify-content: center;">
    <form style="width: 70%;">
        <!-- Informacion del responsable -->

        <fieldset class="form-group">
            <legend>Modificar Sucursal</legend>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Nombre del responsable</label>
                <input value="Miguel" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese nombre de responsable.">
            </div>
            <div class="form-group">
                <label for="Lopez" class="form-label mt-4">Apellido del responsable</label>
                <input value="4to anillo" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese apellido de reponsable.">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Telefono</label>
                <input value="78945612" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese telefono de responsable.">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Correo</label>
                <input value="a@gmail.com" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese correo de responsable.">
            </div>

        </fieldset>
    </form>
</div>

<!-- Boton enviar -->

<div style="display: flex; justify-content: center; align-items: center; height: 250px;">
    <button type="submit" class="btn btn-primary" id="btnVolver" style="font-size: 20px; margin-right: 20px">Volver atras</button>
    <button type="submit" class="btn btn-primary" id="enviarFormulario" style="font-size: 20px;">Modificar</button>
</div>

@code {

}
*@