@page "/Usuarios"

<h1>Usuarios</h1>

<div style="padding: 20px; display: flex; flex-wrap: wrap; justify-content: left;">  
    <ContenedorCasosUsoComponent 
        Titulo="Administrar Usuario" 
        Descripcion="Administre la informacion de los usuarios."
        Enlace="#"/>
</div>

@code {

}
