@page "/RegistrarRubro"
@using Compartido
@using Compartido.Dto.Distribuidora.General
@inject IDistribuidorasServices _distribuidorasService

<h4>Registrar Rubro</h4>

<!-- Formulario Registro -->
<div style="display: flex; justify-content: center;">
    <form style="width: 70%;">
        <!-- Informacion del responsable -->

        <fieldset class="form-group">
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Nombre del rubro</label>
                <input @bind=Rubro.Nombre type="text" class="form-control" id="NombreRubro" placeholder="Ingrese nombre del rubro.">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Descripcion del rubro</label>
                <input @bind=Rubro.Descripcion type="text" class="form-control" id="NombreRubro" placeholder="Ingrese descripcion del rubro.">
            </div>
        </fieldset>
    </form>
</div>

<!-- Boton enviar -->

<div style="display: flex; justify-content: center; align-items: center; height: 250px;">
    <button @onclick="@(() => MostrarListado.InvokeAsync())" type="submit" class="btn btn-primary" id="btnVolver" style="font-size: 20px; margin-right: 20px">Volver atras</button>
    <button @onclick=Registrar type="submit" class="btn btn-primary" id="enviarFormulario" style="font-size: 20px;">Registrar</button>
</div>


@code {
    [Parameter]
    public EventCallback<bool> MostrarRegistrar { get; set; }

    [Parameter]
    public EventCallback<bool> MostrarListado { get; set; }


    public ServiceResponse<RubroDTO> ResponseRubro { get; set; }

    public RubroDTO Rubro { get; set; }


    protected override void OnInitialized()
    {
        Rubro =  new RubroDTO();
    }


    public async void Registrar()
    {
        ResponseRubro = await _distribuidorasService.CrearRubro(Rubro);
        
        if(ResponseRubro.Success)
            await this.MostrarListado.InvokeAsync();
    }
}
