@page "/Proveedores"

<h1>Proveedores</h1>

<div style="padding: 20px; display: flex; flex-wrap: wrap; justify-content: left;">  
    <ContenedorCasosUsoComponent 
        Titulo="Administrar proveedor" 
        Descripcion="Administre la informacion de los proveedores."
        Enlace="#"/>
    <ContenedorCasosUsoComponent 
        Titulo="Realizar pedido a proveedor" 
        Descripcion="Realice pedidos al proveedor."
        Enlace="#"/>
    <ContenedorCasosUsoComponent 
        Titulo="Gestionar nota de recepción" 
        Descripcion="Gestione la informacion de las notas de recepcion."
        Enlace="#"/>
</div>

@code {

}
