@page "/AdministrarTipoProducto"
@using CAPAS.CAPA.DOMINIO
@using CAPAS.CAPA.DOMINIO.INVENTARIO.DTO
@using System.Reflection
@inject IInventarioServices _inventarioService
@inject NavigationManager NavManager

<h3>Administrar Tipo Producto</h3>

<!-- Implementacion -->
@if (ListaTipoProducto != null && ListaTipoProducto.Success == true)
{
    <div style="width: 100%; height: 30rem; display: flex; justify-content: center; align-items: center;">
        <div style="width: 70%;">

            @if (ListaTipoProducto.Data.Count > 0)
            {
                <table class="table table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del tipo de producto</th>
                            <th scope="col">Descripcion del tipo de producto</th>
                            <th scope="col">Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ListaTipoProducto.Data)
                        {
                            <tr id="fila1" class="filaTabla">
                                <td>@item.Nombre</td>
                                <td>@item.Descripcion</td>
                                <td>
                                    <button @onclick="() => RedireccionarPagina(EnlaceModificar)">Modificar</button>
                                    <button @onclick="() => EliminarTipoProducto(item)" class="txtElim" id="txtEliminar1">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No existen Tipos Productos registrados.</p>
            }


        </div>

        <!-- Boton  -->
    </div>
    <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary" id="btnRegistrar" style="font-size: 20px;">
            <a style="" href="@EnlaceRegistro">Registrar nuevo</a>
        </button>
    </div>

    <button @onclick=InsertarTipoProducto>
        Hazme Click
    </button>
}
else
{
    <p>@Loading</p>
}


@code {
    public readonly string EnlaceRegistro = "RegistrarTipoProducto";
    public readonly string EnlaceModificar = "ModificarTipoProducto";
    public ServiceResponse<List<TipoProductoDTO>> ListaTipoProducto { get; set; }
    public string Loading = "Cargando...";

    protected override async Task OnInitializedAsync()
    {
        ListaTipoProducto = await _inventarioService.ObtenerTodoTipoProducto();
    }

    public void RedireccionarPagina(string enlace)
    {
        NavManager.NavigateTo(enlace);
    }

    public async void EliminarTipoProducto(TipoProductoDTO _tipoProducto)
    {
        var response = await _inventarioService.EliminarTipoProducto(_tipoProducto);
        ListaTipoProducto = await _inventarioService.ObtenerTodoTipoProducto();

        StateHasChanged();
    }

    public void InsertarTipoProducto()
    {
        TipoProductoDTO tipo = new TipoProductoDTO();
        tipo.Nombre = "Ejemplo2";
        tipo.Descripcion = "Descripcion";

        _inventarioService.CrearTipoProducto(tipo);
    }
}
