@page "/"
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <h1>@NombreEmpresa</h1>
        <p>Muchas gracias por utilizar nuestros servicios.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Bienvenido</h1>
        <p>Debes iniciar sesion para poder acceder al panel de administracion.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string NombreEmpresa { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NombreEmpresa = await LocalStorage.GetItemAsync<string>("NombreEmpresa");
    }
}