@*@page "/Clientes"

<h1>Clientes</h1>
<div style="padding: 20px; display: flex; flex-wrap: wrap; justify-content: left;">  
    <ContenedorCasosUsoComponent 
        Titulo="Administrar Tarjeta Cliente" 
        Descripcion="Administre la tarjeta de credito."
        Enlace="#"/>
    <ContenedorCasosUsoComponent 
        Titulo="Administrar Cliente." 
        Descripcion="Administre la informacion de su empresa."
        Enlace="registrocliente"/>
</div>
@code {

}
*@