@page "/ModificarConductor"

<h3>ModificarConductor</h3>

<!-- Formulario Registro -->
<div style="display: flex; justify-content: center;">
    <form style="width: 70%;">
        <!-- Informacion del responsable -->
        <fieldset class="form-group">
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Nombre del conductor</label>
                <input value="Luis" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Nombre del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Apellidos del conductor</label>
                <input value="Alves" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Apellidos del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Direccion del conductor</label>
                <input value="8vo anillo" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Direccion del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">CI del conductor</label>
                <input value="789456 SC" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese CI del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Licencia del conductor</label>
                <input value="456123" type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Licencia del conductor">
            </div>
        </fieldset>
    </form>
</div>

<!-- Boton enviar -->

<div style="display: flex; justify-content: center; align-items: center; height: 250px;">
    <button type="submit" class="btn btn-primary" id="btnVolver" style="font-size: 20px; margin-right: 20px">Volver atras</button>
    <button type="submit" class="btn btn-primary" id="enviarFormulario" style="font-size: 20px;">Modificar</button>
</div>

@code {

}
