@page "/ModificarConductor"

@using Compartido.Dto.Personal.General
@using Microsoft.AspNetCore.Components
@using Compartido
@inject IPersonalServices _personalService
@inject ILocalStorageService LocalStorage

<h3>ModificarConductor</h3>

<!-- Formulario Registro -->
<div style="display: flex; justify-content: center;">
    <form style="width: 70%;">
        <!-- Informacion del responsable -->
        <fieldset class="form-group">
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Nombre del conductor</label>
                <input @bind=Conductor.Nombre type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Nombre del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Apellidos del conductor</label>
                <input @bind=Conductor.Apellido type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Apellidos del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">CI del conductor</label>
                <input @bind=Conductor.Ci type="text" class="form-control" id="NombreRubro" placeholder="Ingrese CI del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Fecha de Nacimiento</label>
                <input @bind=Conductor.FechaNacimiento type="date" class="form-control" id="NombreRubro" placeholder="Ingrese Fecha de nacimiento del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Email</label>
                <input @bind=Conductor.Email type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Email del conductor">
            </div>
            <div class="form-group">
                <label for="NombreRubro" class="form-label mt-4">Telefono</label>
                <input @bind=Conductor.Telefono type="text" class="form-control" id="NombreRubro" placeholder="Ingrese Telfono del conductor">
            </div>
        </fieldset>
    </form>
</div>

<!-- Boton enviar -->

<div style="display: flex; justify-content: center; align-items: center; height: 250px;">
    <button @onclick="@(() => MostrarListado.InvokeAsync())" type="submit" class="btn btn-primary" id="btnVolver" style="font-size: 20px; margin-right: 20px">Volver atras</button>
    <button @onclick=Modificar type="submit" class="btn btn-primary" id="enviarFormulario" style="font-size: 20px;">Modificar</button>
</div>


@code {

    [Parameter]
    public ConductorDTO Conductor { get; set; }

    [Parameter]
    public EventCallback<bool> MostrarModificar { get; set; }

    [Parameter]
    public EventCallback<bool> MostrarListado { get; set; }

    public ServiceResponse<List<ConductorDTO>> ResponseConductor { get; set; }
    public string Distribuidora { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Distribuidora = await LocalStorage.GetItemAsync<string>("idEmpresa");
        StateHasChanged();
    }

    public async void Modificar()
    {
        List<ConductorDTO> Lista = new List<ConductorDTO>();
        Lista.Add(Conductor);

        ResponseConductor = await _personalService.ActualizarConductor(Lista);

        if (ResponseConductor.Success)
            await this.MostrarListado.InvokeAsync();
    }

}
