@page "/AdministrarProducto"
@using CAPAS.CAPA.DOMINIO
@using CAPAS.CAPA.DOMINIO.INVENTARIO.DTO
@inject IInventarioServices _inventarioService

<h3>Administrar Producto</h3>

<!-- Implementacion -->
@if (ListaProducto != null && ListaProducto.Success == true)
{
    <div style="width: 100%; height: 30rem; display: flex; justify-content: center; align-items: center;">
        <div style="width: 70%;">
            @if (ListaProducto.Data.Count > 0)
            {
                <table class="table table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del tipo de producto</th>
                            <th scope="col">Descripcion del tipo de producto</th>
                            <th scope="col">Tipo de producto</th>
                            <th scope="col">Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ListaProducto.Data)
                        {
                            <tr id="fila1" class="filaTabla">
                                <td>@item.Nombre</td>
                                <td>@item.Descripcion</td>
                                <td>Productos de limpieza de superficies planas.</td>
                                
                                <td>
                                    <a href="@EnlaceModificar">Editar</a> / 
                                    <a href="#" class="txtElim" id="txtEliminar1">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No existen Productos registrados.</p>
            }
        </div>

        <!-- Boton  -->
    </div>
    <div style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-primary" id="btnRegistrar" style="font-size: 20px;">
            Registrar nuevo
        </button>
    </div>
}
else
{
    <p>@Loading</p>
}

@code {
    public readonly string EnlaceRegistro = "RegistrarProducto";
    public readonly string EnlaceModificar = "ModificarProducto";
    public ServiceResponse<List<ProductoDTO>> ListaProducto { get; set; }
    public string Loading = "Cargando...";

    protected override async Task OnInitializedAsync()
    {
        ListaProducto = await _inventarioService.ObtenerTodoProducto();
    }

}
