@page "/MisDistribuidoras"
@using Compartido
@using Compartido.Dto.Distribuidora
@using Compartido.Dto.Distribuidora.General
<h3>Mis distribuidoras</h3>


<div style="width: 100%; height: 30rem; display: flex; justify-content: center; align-items: center;">
    <div style="width: 100%;">
        <button class="btn btn-primary">Buscar Otras Distribuidoras</button>
        @*if (ListaProducto.Data.Count > 0) 
        @if (true)
            {
                <table class="table table-bordered" style="width: 100%">
                    <thead>
                    <tr>
                        <th scope="col">Nombre del tipo de producto</th>
                        <th scope="col">Descripcion del tipo de producto</th>
                        <th scope="col">Tipo de producto</th>
                        <th scope="col">Opcion</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in ListaProducto.Data)
                    {
                        <tr id="fila1" class="filaTabla">
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@BuscarNombreTipoProducto(item.TipoProductoId)</td>
                            <td>
                                <button @onclick="() => MostrarModificar(item)">Modificar</button>
                                <button @onclick="() => EliminarProducto(item)">Eliminar</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>No existen Productos registrados.</p>
            }
            *@
    </div>
</div>

<!-- Boton  -->
<div style="display: flex; justify-content: center;">
    @*
        <button @onclick="MostrarRegistrar" type="submit" class="btn btn-primary" id="btnRegistrar" style="font-size: 20px;">
            Registrar nuevo
        </button>
        *@
</div>

@code {
    public ServiceResponse<List<EmpresaDistribuidoraDTO>> ListaEmpresasDistribuidoras { get; set; }
}