@*@page "/Pedidos"

<h1>Pedidos</h1>

<div style="padding: 20px; display: flex; flex-wrap: wrap; justify-content: left;">
    <ContenedorCasosUsoComponent Titulo="Administrar pedido"
                                 Descripcion="Administre la informacion de los pedidos."
                                 Enlace="AdministrarPedido" />
    <ContenedorCasosUsoComponent Titulo="Asignar entrega a conductor"
                                 Descripcion="Asigne los pedidos al conductor correspondiente."
                                 Enlace="AsignarEntregaAConductor" />
    <ContenedorCasosUsoComponent Titulo="Confirmar Entrega de Pedido a conductor"
                                 Descripcion="Confirme la entrega del pedido al conductor."
                                 Enlace="RealizarEntregaAConductor" />
    <ContenedorCasosUsoComponent Titulo="Confirmar Entrega de Pedido al cliente"
                                 Descripcion="Finalice el proceso de entrega del pedido."
                                 Enlace="RealizarEntregaDePedido" />
    <ContenedorCasosUsoComponent Titulo="Reporte de pedidos rechazados"
                                 Descripcion="Visualice el reporte."
                                 Enlace="#" />
    <ContenedorCasosUsoComponent Titulo="Reporte de pedidos aceptados"
                                 Descripcion="Visualice el reporte."
                                 Enlace="#" />
</div>


@code {

}
*@