@page "/AdministrarRol"
@using Compartido
@inject IPersonalServices _usuariosService
<h3>Administrar Rol</h3>

<!-- Implementacion -->
@if (ListaRol is {Success: true } && VisibleListado == true)
{
    <div style="width: 100%; height: 30rem; display: flex; justify-content: center; align-items: center;">
        <div style="width: 70%;">
            @if (ListaRol.Data.Count > 0)
            {
                <table class="table table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del tipo de rol</th>
                            <th scope="col">Descripcion del tipo de rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ListaRol.Data)
                        {
                            <tr id="fila1" class="filaTabla">
                                <td>@item.Nombre</td>
                                <td>@item.Descripcion</td>
                                <td>
                                    <button @onclick="() => MostrarModificar(item)">Modificar</button>
                                    <button @onclick="() => EliminarRol(item)">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No existen Roles registrados.</p>
            }
        </div>

        <!-- Boton  -->
    </div>
    <div style="display: flex; justify-content: center;">
        <button @onclick="MostrarRegistrar" type="submit" class="btn btn-primary" id="btnRegistrar" style="font-size: 20px;">
            Registrar nuevo
        </button>
    </div>
}
else if (VisibleEditar == true && RolSeleccionado != null)
{
    <ModificarRoles Rol="@RolSeleccionado"
                   MostrarListado="() => MostrarListado()"
                   MostrarModificar="() => MostrarModificar(RolSeleccionado)" />
}
else if (VisibleRegistrar == true)
{
    <RegistrarRoles 
                   MostrarListado="() => MostrarListado()"
                   MostrarRegistrar="() => MostrarRegistrar()" />
}
else
{
    <p>@Loading</p>
}


@code {
    public readonly string EnlaceRegistro = "RegistrarRol";
    public readonly string EnlaceModificar = "ModificarRol";
    public string Loading = "Cargando...";

    public ServiceResponse<List<RolDTO>> ListaRol { get; set; }
    public RolDTO RolSeleccionado { get; set; }


    public bool VisibleRegistrar { get; set; }
    public bool VisibleEditar { get; set; }
    public bool VisibleListado { get; set; }


    protected override async Task OnInitializedAsync()
    {
        VisibleListado = true;
        VisibleEditar = false;
        VisibleRegistrar = false;
        ListaRol = await _usuariosService.ObtenerTodoRol();
    }

    public async void MostrarListado()
    {
        VisibleListado = true;
        VisibleEditar = false;
        VisibleRegistrar = false;
        ListaRol = await _usuariosService.ObtenerTodoRol();

        StateHasChanged();
    }

    public void MostrarRegistrar()
    {
        VisibleListado = false;
        VisibleEditar = false;
        VisibleRegistrar = true;

        StateHasChanged();
    }

    public void MostrarModificar(RolDTO Rol)
    {
        VisibleListado = false;
        VisibleEditar = true;
        VisibleRegistrar = false;
        RolSeleccionado = Rol;

        StateHasChanged();
    }

    public async void EliminarRol(RolDTO Rol)
    {
        var response = await _usuariosService.EliminarRol(Rol);

        this.MostrarListado();
    }
}
