@inject IDistribuidorasServices _distribuidorasService

<h3>@Titulo</h3>

<form>
    <!-- Informacion del responsable -->
    <fieldset class="form-group">
        <legend>Informacion del Reponsable</legend>
        <div class="form-group">
            <label for="nombreResponsable" class="form-label mt-4">Nombre</label>
            <input @bind="ResponsableEmpresa.Nombre" id="nombreResponsable" aria-describedby="nombreHelp" placeholder="Ingresar nombre">
            <small id="nombreHelp" class="form-text text-muted">Ingrese el nombre del responsable de la empresa distribuidora.</small>
        </div>
        <div class="form-group">
            <label for="apellidosReponsable" class="form-label mt-4">Apellidos</label>
            <input @bind="ResponsableEmpresa.Apellido" class="form-control" id="apellidosReponsable" aria-describedby="apellidoHelp" placeholder="Ingresar apellidos">
            <small id="apellidoHelp" class="form-text text-muted">Ingrese los apellidos del responsable de la empresa distribuidora.</small>
        </div>
        <div class="form-group">
            <label for="telefonoResponsable" class="form-label mt-4">Numero de telefono</label>
            <input @bind="ResponsableEmpresa.Telefono" class="form-control" id="telefonoResponsable" aria-describedby="telefonoHelp" placeholder="Ingresar telefono del responsable">
            <small id="telefonoHelp" class="form-text text-muted">Ingrese el numero de telefono del responsable de la empresa distribuidora.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Correo electronico</label>
            <input @bind="ResponsableEmpresa.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su correo electronico">
            <small id="emailHelp" class="form-text text-muted">El correo electronico se utilizara para poder ingresar al sistema.</small>
        </div>
        <div class="form-group">
            <label for="claveResponsable" class="form-label mt-4">Clave</label>
            <input @bind="Usuario.Clave" class="form-control" id="claveResponsable" aria-describedby="claveHelp" placeholder="Ingresar clave">
            <small id="claveHelp" class="form-text text-muted">Ingrese la clave que utilizara para ingresar al sistema.</small>
        </div>
    </fieldset>

    <!-- Informacion de la empresa-->
    <fieldset class="form-group" style="border-style: solid; border-color: black;">
        <legend>Informacion de la empresa</legend>
        <div class="form-group">
            <label for="nombreNegocio" class="form-label mt-4">Nombre del negocio</label>
            <input type="text" class="form-control" id="nombreNegocio" placeholder="Ingrese el nombre del negocio">
        </div>
        <div class="form-group">
            <label for="direccionNegocio" class="form-label mt-4">Direccion del negocio</label>
            <input type="text" class="form-control" id="direccionNegocio" placeholder="Ingrese la direccion del negocio">
        </div>
        <div class="form-group">
            <label for="razonSocial" class="form-label mt-4">Razon Social</label>
            <input type="text" class="form-control" id="razonSocial" placeholder="Ingrese la razon social del negocio">
        </div>
        <div class="form-group">
            <label for="NIT" class="form-label mt-4">Numero NIT</label>
            <input type="text" class="form-control" id="NIT" placeholder="Ingrese el numero de NIT del negocio">
        </div>
         <div class="form-group">
            <label for="NombreFacturacion" class="form-label mt-4">Nombre Facturacion</label>
            <input type="text" class="form-control" id="NombreFacturacion" placeholder="Ingrese el nombre de facturacion del NIT">
        </div>
        <div class="form-group">
            <label for="rubroNegocio" class="form-label mt-4">Rubro</label>
            <select @bind=RubroSeleccionado.Id class="form-select form-select-lg mb-3">
                @foreach (RubroDTO rubro in ListaRubros.Data)
                {
                    <option value=@rubro.Id>@rubro.Nombre</option>
                }
            </select>
        </div>
    </fieldset>
    <!-- Boton enviar -->
    <button style="margin-bottom:30px;" class="btn btn-primary" id="enviarFormulario" @onclick=RegistrarEmpresa @onclick:preventDefault>Registrarse</button>
</form>

@code {
    [Parameter]
    public string Titulo { get; set; }

    [Parameter]
    public string TipoEmpresa { get; set; }

    public ServiceResponse<List<RubroDTO>> ListaRubros { get; set; }

    public ResponsableEmpresaDTO ResponsableEmpresa { get; set; }
    public UsuarioDTO Usuario { get; set; }
    public NITDTO NIT { get; set; }
    public RubroDTO RubroSeleccionado { get; set; }


    protected override async Task OnInitializedAsync()
    {
        ListaRubros = await _distribuidorasService.ObtenerTodoRubro();
    }

    public void RegistrarEmpresa()
    {
        /*
        if (TipoEmpresa == "EmpresaDistribuidora")
        {
            EmpresaDistribuidoraDTO nuevaEmpresa = new EmpresaDistribuidoraDTO();
            nuevaEmpresa.Responsable = 
            //_distribuidorasService.CrearEmpresaDistribuidora();
        }
        else if (TipoEmpresa == "EmpresaCliente")
        {
            //_distribuidorasService.CrearEmpresaCliente();
        }
        */
    }

}
