@page "/registro"

<div class="Opciones">
    <h3>Registrar Empresa</h3>
</div>
<div class="Opciones">

    <MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/3616/3616413.png" Texto="Registrar (Distribuidora)" EnlaceDestino="/RegistroDistribuidora" />
    <MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/3846/3846651.png" Texto="Registrar (Cliente)" EnlaceDestino="/RegistroCliente" />
</div>

<style>
    .Opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
</style>
