<h3>Index Cliente</h3>

<div class="Opciones">
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/4290/4290854.png" Texto="Realizar Pedidos" EnlaceDestino="/MisDistribuidoras"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/7764/7764967.png" Texto="Mis Pedidos" EnlaceDestino="/MisPedidos"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/1037/1037332.png" Texto="Mis Facturas" EnlaceDestino="/MisFacturas"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/627/627495.png" Texto="Configuracion" EnlaceDestino="/ModificarCliente"/>
</div>

<style>
    .Opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
    }
</style>
