<h3>Pedidos</h3>

<div class="Opciones">
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/7764/7764967.png" Texto="Administrar Pedidos" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/776/776645.png" Texto="Administrar Sucursales" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/3901/premium/3901469.png?token=exp=1655596010~hmac=1c6f14dcac6c1982e9b764875cfed9fa" Texto="Administrar Conductores" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/4451/premium/4451048.png?token=exp=1655596056~hmac=ed6a186e56d00bfc6b6a12b737205556" Texto="Administrar Vehiculos" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/2825/2825867.png" Texto="Administrar Inventario de Productos" EnlaceDestino="/AdministrarStock"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/4413/premium/4413664.png?token=exp=1655595946~hmac=2c000c5f08bdf715bdbb93d58186dcf3" Texto="Administrar Responsable de almacen" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/1052/1052855.png" Texto="Confirmar Pago de pedidos" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/5643/premium/5643764.png?token=exp=1655596136~hmac=f883252410a820b2c5b0a5f7841d028e" Texto="Confirmar Entrega de pedido a cliente" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/3696/premium/3696529.png?token=exp=1655596364~hmac=1f7d9561cee92bb8ea9f43c9e4080ccc" Texto="Asignar Pedido a Conductor" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/2038/2038022.png" Texto="Administrar Nota recepcion" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/2586/premium/2586859.png?token=exp=1655596708~hmac=b01019cc86ca619bfaee0021a4ed2c41" Texto="Reportes" EnlaceDestino="/login"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/627/627495.png" Texto="Configuracion" EnlaceDestino="/login"/>
</div>


<style>
    .Opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
    }
</style>
