<h3>Index Cliente</h3>

<div class="Opciones">
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/2769/premium/2769388.png?token=exp=1655594930~hmac=2548de0ff48922cfb760217ac15dfb36" Texto="Realizar Pedidos" EnlaceDestino="/MisDistribuidoras"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/7764/7764967.png" Texto="Mis Pedidos" EnlaceDestino="/MisPedidos"/>
<MenuOpcion EnlaceImagen="https://cdn-icons.flaticon.com/png/512/781/premium/781862.png?token=exp=1655595415~hmac=eca4c1de91e17db7db4601f90b5f3da2" Texto="Mis Facturas" EnlaceDestino="/MisFacturas"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/627/627495.png" Texto="Configuracion" EnlaceDestino="/ModificarCliente"/>
</div>

<style>
    .Opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
    }
</style>
