<h3>Pedidos</h3>

<div class="Opciones">
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/7764/7764967.png" Texto="Administrar Pedidos" EnlaceDestino="/administrarpedido"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/776/776645.png" Texto="Administrar Sucursales" EnlaceDestino="/administrarsucursales"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/7590/7590172.png" Texto="Administrar Conductores" EnlaceDestino="/AdministrarConductor"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/609/609361.png" Texto="Administrar Vehiculos" EnlaceDestino="/administrarvechiculo"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/2825/2825867.png" Texto="Administrar Inventario de Productos" EnlaceDestino="/AdministrarStock"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/168/168882.png" Texto="Administrar Responsable de almacen" EnlaceDestino="/"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/1052/1052855.png" Texto="Confirmar Pago de pedidos" EnlaceDestino="/ConfirmarPago"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/2936/2936949.png" Texto="Confirmar Entrega de pedido a conductor" EnlaceDestino="/ConfirmarEntregaDePedidoConductor"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/6713/6713742.png" Texto="Confirmar Entrega de pedido a cliente" EnlaceDestino="/ConfirmarEntregaDePedidoCliente"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/1632/1632587.png" Texto="Asignar Pedido a Conductor" EnlaceDestino="/AsignarEntregaAConductor"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/2038/2038022.png" Texto="Administrar Nota recepcion" EnlaceDestino="/"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/1055/1055644.png" Texto="Reportes" EnlaceDestino="/"/>
<MenuOpcion EnlaceImagen="https://cdn-icons-png.flaticon.com/512/627/627495.png" Texto="Configuracion" EnlaceDestino="/ModificarDistribuidora"/>
</div>


<style>
    .Opciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
    }
</style>
