@page "/Distribuidoras"

<h1>Distribuidoras</h1>

<div style="padding: 20px; display: flex; flex-wrap: wrap; justify-content: left;">  
    <ContenedorCasosUsoComponent 
        Titulo="Administrar Distribuidora" 
        Descripcion="Administre la informacion de la empresa."
        Enlace="RegistroDistribuidora"/>
    <ContenedorCasosUsoComponent 
        Titulo="Administrar Sucursales" 
        Descripcion="Administre la informacion de las sucursales de la empresa."
        Enlace="AdministrarSucursales"/>
    <ContenedorCasosUsoComponent 
        Titulo="Administrar responsable de almacén" 
        Descripcion="Administre la informacion del responsable de almacen de la empresa."
        Enlace="AdministrarResponsableAlmacen"/>
    <ContenedorCasosUsoComponent 
        Titulo="Administrar conductor" 
        Descripcion="Administre la informacion de los conductores de la empresa."
        Enlace="AdministrarConductor"/>
    <ContenedorCasosUsoComponent 
        Titulo="Gestionar vehículo" 
        Descripcion="Gestione la informacion de los veiculos de la empresa."
        Enlace="AdministrarVechiculo"/>
</div>


@code {

}
